{% extends './base.html' %}
{% block custom_css %}<link href="{{ url_for('static', filename='css/ooo_form.css') }}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="container body-normal-content-div">
    <div class="form-box-div">
        <div class="row col-md-11 mx-auto">
    <form method="POST" role="form" action="{{ url_for('open_meetings2', meet_id=meeting_data.id) }}">
        {{ form.csrf_token }}
        <h3 class="form-welcome-text">One-On-One</h3>
        <div class="row form-emp-info">
            <div class="col">
                <h5 class="d-inline">Employee Name: </h5><span>{{ meeting_data.user.name }}</span>
            </div>
            <div class="col text-center">
                <h5 class="d-inline">Employee OHR: </h5><span>{{ meeting_data.user.ohr }}</span>
            </div>
            <div class="col text-end">
                <h5 class="d-inline">Month: </h5><span>{{ meeting_data.current_month }}</span>
            </div>
        </div>
        <div class="row mt-4 pt-3 form-emp-info">
            <div class="col">
                <h5 class="d-inline-block">Requested Meeting Date: </h5><span> {{ meeting_data.requested_meeting_date }}</span>
            </div>
        </div>
        <div class="col mt-3">
            <div class="input-group">
                <h5>Accepted Meeting Date: </h5>
                <input type="date" class="mx-3 mb-3" id="meeting_date" name="meeting_date" required>
                <small id="date-error2" class="errors pt-2"></small>
            </div>
        </div>

        <hr class="separator">
        <div class="question_div">
            <div class="pb-2"><span class="h5 ques">Question: </span><span class="ans">{{ meeting_data.question1 }}</span></div>
            <div class="pb-2"><span class="h5 ques">Employee Score: </span><span class="ans">{{ meeting_data.rating1 }}/5</span></div>
            <div class="pb-4"><span class="h5 ques">Employee Comments: </span><span class="ans">{{ meeting_data.emp_comment1 }}</span></div>
            {{ form.m1(class_="form-control ooo-form-textarea", placeholder="Enter Your Comments...  (20 to 500 characters)", maxlength="500") }}
            {% if form.m1.errors %}
                <ul>
                    {% for error in form.m1.errors %}
                        <li><small class="errors">{{ error }}</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="question_div">
            <div class="pb-2"><span class="h5 ques">Question: </span><span class="ans">{{ meeting_data.question2 }}</span></div>
            <div class="pb-2"><span class="h5 ques">Employee Score: </span><span class="ans">{{ meeting_data.rating2 }}/5</span></div>
            <div class="pb-4"><span class="h5 ques">Employee Comments: </span><span class="ans">{{ meeting_data.emp_comment2 }}</span></div>
            {{ form.m2(class_="form-control ooo-form-textarea", placeholder="Enter Your Comments...  (20 to 500 characters)", maxlength="500") }}
            {% if form.m2.errors %}
                <ul>
                    {% for error in form.m2.errors %}
                        <li><small class="errors">{{ error }}</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="question_div">
            <div class="pb-2"><span class="h5 ques">Question: </span><span class="ans">{{ meeting_data.question3 }}</span></div>
            <div class="pb-2"><span class="h5 ques">Employee Score: </span><span class="ans">{{ meeting_data.rating3 }}/5</span></div>
            <div class="pb-4"><span class="h5 ques">Employee Comments: </span><span class="ans">{{ meeting_data.emp_comment3 }}</span></div>
            {{ form.m3(class_="form-control ooo-form-textarea", placeholder="Enter Your Comments...  (20 to 500 characters)", maxlength="500") }}
            {% if form.m3.errors %}
                <ul>
                    {% for error in form.m3.errors %}
                        <li><small class="errors">{{ error }}</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="question_div">
            <div class="pb-2"><span class="h5 ques">Question: </span><span class="ans">{{ meeting_data.question4 }}</span></div>
            <div class="pb-2"><span class="h5 ques">Employee Score: </span><span class="ans">{{ meeting_data.rating4 }}/5</span></div>
            <div class="pb-4"><span class="h5 ques">Employee Comments: </span><span class="ans">{{ meeting_data.emp_comment4 }}</span></div>
            {{ form.m4(class_="form-control ooo-form-textarea", placeholder="Enter Your Comments...  (20 to 500 characters)", maxlength="500") }}
            {% if form.m4.errors %}
                <ul>
                    {% for error in form.m4.errors %}
                        <li><small class="errors">{{ error }}</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="question_div">
            <div class="pb-2"><span class="h5 ques">Question: </span><span class="ans">{{ meeting_data.question5 }}</span></div>
            <div class="pb-2"><span class="h5 ques">Employee Score: </span><span class="ans">{{ meeting_data.rating5 }}/5</span></div>
            <div class="pb-4"><span class="h5 ques">Employee Comments: </span><span class="ans">{{ meeting_data.emp_comment5 }}</span></div>
            {{ form.m5(class_="form-control ooo-form-textarea", placeholder="Enter Your Comments...  (20 to 500 characters)", maxlength="500") }}
            {% if form.m5.errors %}
                <ul>
                    {% for error in form.m5.errors %}
                        <li><small class="errors">{{ error }}</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="question_div">
            <div class="pb-2"><span class="h5 ques">Question: </span><span class="ans">{{ meeting_data.question6 }}</span></div>
            <div class="pb-2"><span class="h5 ques">Employee Score: </span><span class="ans">{{ meeting_data.rating6 }}/5</span></div>
            <div class="pb-4"><span class="h5 ques">Employee Comments: </span><span class="ans">{{ meeting_data.emp_comment6 }}</span></div>
            {{ form.m6(class_="form-control ooo-form-textarea", placeholder="Enter Your Comments...  (20 to 500 characters)", maxlength="500") }}
            {% if form.m6.errors %}
                <ul>
                    {% for error in form.m6.errors %}
                        <li><small class="errors">{{ error }}</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="question_div">
            <div class="pb-2"><span class="h5 ques">Question: </span><span class="ans">{{ meeting_data.question7 }}</span></div>
            <div class="pb-2"><span class="h5 ques">Employee Score: </span><span class="ans">{{ meeting_data.rating7 }}/5</span></div>
            <div class="pb-4"><span class="h5 ques">Employee Comments: </span><span class="ans">{{ meeting_data.emp_comment7 }}</span></div>
            {{ form.m7(class_="form-control ooo-form-textarea", placeholder="Enter Your Comments...  (20 to 500 characters)", maxlength="500") }}
            {% if form.m7.errors %}
                <ul>
                    {% for error in form.m7.errors %}
                        <li><small class="errors">{{ error }}</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="text-center d-grid gap-2">
            {{ form.submit(class="btn btn-secondary my-4", id="OOO-form2 form-button") }}
        </div>
    </form>
    </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="{{ url_for('static', filename='js/OOO_form2_validation.js') }}"></script>
{% endblock %}